<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minigame</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./scripts/web3.js"></script>
    <script src="./process.js"></script>
</head>
<body>
    <h2>Minigame</h2>

    <button id="btnConnectMetaMask">Connect Meta Mask</button>
    <h3 id="notice">Please connect meta mask </h3>
    <h3 id="token"> </h3>
    <!-- <div id="frmRegister">
        <input id="txtName" type="text" placeholder="Name" />
        <input id="txtEmail" type="text" placeholder="Email" />
        <input id="txtPhone" type="text" placeholder="Phone number" />
        <button id="btnRegister">Register</button>
    </div> -->
</body>
</html>